@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

$contrastColor: rgba(253, 181, 20, 1);
footer {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  background-color: rgba(46, 46, 46, 1);
  background-clip: padding-box;
  padding-top: 80px;
  padding-bottom: 25px;
}

html {
  scroll-behavior: smooth;
}

body {
  //font-family: 'Open Sans', sans-serif;
  //font-family: 'Roboto Slab', serif;
}

.border-style-partial-images-ceo {
  transition: all .4s ease-in-out;
}


.border-style-partial-images-ceo:hover {
  transform: scale(1.2);
}

.loaderHolder {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: .95;
  -moz-opacity: .95;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.loading {
  left: 40%;
  margin-top: 0px;
  position: fixed;
  top: 20%;
  margin-left: 0px;
  width: 361px;
  height: 379px;
  background: url(../images/all-loader.gif) no-repeat center center;
}


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px
}

.dl-horizontal dt {
  white-space: normal
}


.row-gutters-void {
  padding-left: 0;
  padding-right: 0
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

* html .clearfix {
  zoom: 1
}

.pb-20 {
  padding-bottom: 20px
}

.pb-30 {
  padding-bottom: 30px
}

.pb-40 {
  padding-bottom: 40px
}

.pb-50 {
  padding-bottom: 50px
}

.pb-60 {
  padding-bottom: 60px
}

.pb-10 {
  padding-bottom: 10px
}

.pt-10 {
  padding-top: 10px
}

.pt-20 {
  padding-top: 20px
}

.pt-30 {
  padding-top: 30px
}

.pt-40 {
  padding-top: 40px
}

.pt-50 {
  padding-top: 50px
}

.pt-60 {
  padding-top: 60px
}

.mt-25 {
  margin-top: 25px
}

.mt-100 {
  margin-top: 100px
}

.mt-50 {
  margin-top: 50px
}


.mt-80 {
  margin-top: 80px
}

.mt-200 {
  margin-top: 200px
}

.mb-100 {
  margin-bottom: 100px
}

.mt-10 {
  margin-top: 10px
}


.mt-15 {
  margin-top: 15px
}

.mb-25 {
  margin-bottom: 25px
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}


.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.pl-15 {
  padding-left: 15px;
}

.ml-0 {
  margin-left: 0;
}


.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.footer-link-sm {
  margin-left: 16px;
  display: inline-block;
}

.footer-link-sm a {
  width: 100%;
  height: 100%;
  display: block;
}

.footer-link-sm.facebook {
  width: 9.8px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-image: url('../images/Icon feather-facebook.svg');
  background-color: transparent;
  background-clip: padding-box;
}

.footer-link-sm.twitter {
  width: 20.6px;
  height: 17.168px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-image: url('../images/Icon feather-twitter.svg');
  background-color: transparent;
  background-clip: padding-box;
}

.footer-link-sm.instagram {
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-image: url('../images/Icon feather-instagram.svg');
  background-color: transparent;
  background-clip: padding-box;
}


.copyright-section {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-origin: padding-box;
  background-color: #181818;
  background-clip: padding-box;
  padding: 18px 40px;
}

.copyright-text-style {
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 5px;
}

.copyright-text-style span {
  margin-right: 25px;
}

.footer-logo-class {
  width: 108px;
  margin-right: 52px;
  float: left;
}

.footer-logo-text {
  text-align: left;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0px;
  color: #FFFFFF;
}

footer .footer-heading-style {
  text-align: left;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-family: Open, Sans;
  letter-spacing: 0px;
  font-size: 13px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.footer-text-style {
  text-align: left;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 0.75rem;
}

.footer-office-class {
  float: left;
  margin-right: 54px;
}

.footer-office-class:last-of-type {
  float: left;
  margin-right: 0px;
}

.contact-us-form-footer input {
  height: 28px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 0px solid transparent;
  font-size: 9px;
  width: 276px;
  font-family: 'Open Sans', sans-serif;

}

.contact-us-form-footer .submit-contact-form {

  background: #FDB514 0% 0% no-repeat padding-box;
  text-align: center;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0px;
  color: #000000;
  border: 0px solid transparent;
  padding: 11px 50px;
}

.contact-us-form-footer .form-group {
  margin-bottom: 10px;
}

.contact-us-form-footer input::-webkit-input-placeholder { /* Edge */
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.5);
}

.contact-us-form-footer input:-ms-input-placeholder { /* Internet Explorer */
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: Open, Sans;
  font-size: 9px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.5);
}

.contact-us-form-footer input::placeholder {
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.5);
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #000000;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #000000;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #000000;
}

.fixed-header-bar {
  position: fixed;
  width: 100%;
  z-index: 1030;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #000000;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #FFF;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #FFF;
}


.banner-detail-page {

  opacity: 1;
  background: transparent url(../images/Banner.png) 0 0 no-repeat padding-box;
  display: flex;
  align-items: center;
  height: 766px;

}


.navbar.active .menu-text {
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0px;
  font-size: 16px;
  color: #FFF;
}

.navbar .menu-text {
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0px;
  font-size: 16px;
  color: #000;
}

.navbar.active .navbar-brand img {
  filter: invert(100%);
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark.active .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark.active .navbar-toggler {
  border-color: #FFF;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.border-style-partial {

}

.border-style-partial.top:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  width: 50%;
  border-top: 5px solid $contrastColor;
}

.border-style-partial.bottom:before {
  content: "";
  position: absolute;
  left: 25px;
  bottom: 0;
  height: 15px;
  width: 70%;
  border-bottom: 5px solid $contrastColor;
}

.border-style-partial.left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 175px;
  width: 200px;
  border-left: 5px solid $contrastColor;
}

.border-style-partial.right:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50%;
  border-right: 5px solid $contrastColor;
}

.border-style-partial .paragraph-text {
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #181818;
  opacity: 1;
  padding-left: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
  padding-right: 80px;
}

.border-style-partial .paragraph-text:first-child {
  padding-top: 20px;

}

.border-style-partial-images {

}

.border-style-partial-images.bottom:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: auto;
  right: 0;
  border-bottom: 5px solid $contrastColor;
}

.border-style-partial-images .right:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: auto;
  height: 75%;
  left: auto;
  right: 0;
  border-right: 5px solid $contrastColor;
}

.img-section-position {
  position: relative;
  top: -80px;
}

.banner-index-page {
  opacity: 1;
  background: transparent url(../images/homepage_banner.png) 0 0 no-repeat padding-box;

  display: flex;
  align-items: center;

  height: 768px;
}


.see-product-btn {
  background: #FDB514 0% 0% no-repeat padding-box;
  text-align: center;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;

  letter-spacing: 0px;
  color: #000000;
  border: 0px solid transparent;
  padding: 13px 41px;
}

.true-color {
  color: $contrastColor;
}

.banner-heading-style {
  text-align: left;
  font-weight: bold;
  font-variant: normal;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0px;
  color: #000000;
}

.trivia-section {
  background: #fdb514 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 18px rgb(0 0 0 / 50%);
  margin-right: 15px;
  max-width: 536px;

  padding: 60px 80px;
}

.index-section-content {
  background: #2E2E2E 0% 0% no-repeat padding-box;
  opacity: 1;
}

.trivia-section span {
  font-weight: normal;
  font-variant: normal;
  font-size: 31px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  text-align: center;
}

.index-section-content-positioning {
  position: relative;
  top: -100px;
}

.ceo-message-crap .message-heading {
  text-align: left;
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0px;
  color: #FDB514;
}

.ceo-message-crap .message-text {
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.ceo-message-crap .message-punctuation {
  font-weight: normal;
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-bottom: 0;
  line-height: 2rem;
}

.ceo-message-crap .text-section {
  padding-right: 60px;
  margin-top: 100px;
}


.ceo-message-crap .text-section.right-sided {
  padding-left: 60px;
  padding-right: 0px;
}

.border-style-partial-images-ceo {

}

.border-style-partial-images-ceo .right:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: auto;
  height: 50%;
  left: auto;
  right: 10px;
  border-right: 5px solid $contrastColor;
}

.border-style-partial-images-ceo .bottom:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: auto;
  right: 10px;
  border-bottom: 5px solid #fdb514;
}


.border-style-partial-images-ceo .top:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  height: 5px;
  width: 50%;
  border-top: 5px solid $contrastColor;
}

.border-style-partial-images-ceo .left:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  height: 50%;
  width: 50%;
  border-left: 5px solid $contrastColor;
}

.our-companies-bg {
  opacity: 1;
  background: #ecebeb  url(../images/our-company-bg.png) 0 0 no-repeat padding-box;
  min-height: 1080px;
  display: block;
  //align-items: center;
}

.our-customer-bg {
  opacity: 1;
  background: transparent url(../images/valued_customer.png) 0 0 no-repeat padding-box;
  min-height: 720px;
  display: block;
  //align-items: center;
}


.overall-content-heading {
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0px;
  font-size: 40px;
  color: #000000;
}


.overall-content-paragraph {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  font-size: 15px;
  color: #000000;
}

.positioning-text-our-company {
  display: inline-block;
}

.positioning-text-our-customer {
  display: inline-block;
}

.each-company-shit {
  position: relative;
  text-align: left;
  color: white;
}

.each-company-shit .centered {
  position: absolute;
  top: auto;
  left: 10%;
  transform: translate(0, -50%);
}


.each-company-shit {
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0px;
  font-size: 40px;
  color: #FFF;
}

.each-company-shit:hover .text-company-shit {
  border-left: 3px solid $contrastColor;

}

.each-company-shit .text-company-shit {
  line-height: 40px;
  padding-left: 10px;
}

.each-company-shit img {
  filter: grayscale(0.5);
}

.each-company-shit .bottom {

  position: absolute;
  bottom: 8px;
  right: auto;
}

.each-customer-shit {

}

.text-customer-shit {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #707070;
}

.each-customer-shit img {
  max-width: 167px;
}

.each-customer-shit {
  margin-bottom: 30px;


}

.all-customer-profile {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

  .each-customer-shit:nth-child(-n+5) {

    display: none;
  }

}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

  .ceo-message-crap .text-section {
    padding-right: 15px;
    margin-top: 20px;
  }

  .ceo-message-crap .text-section.right-sided {
    padding-left: 15px;
    padding-right: 0px;
  }

  .copyright-section {
    padding: 18px 15px;
  }

  .mobile-footer-responsive {
    width: 100%;
    float: left;
    margin-top: 15px;
  }

  .banner-heading-style {

    font-size: 32px;

  }

  .img-section-position {
    position: relative;
    top: 0;
  }

  .our-companies-bg {

    padding-bottom: 20px;
  }


  .footer-link-sm {
    margin-left: 0px;
    margin-right: 16px;
    display: inline-block;
  }

  .our-customer-bg {
    opacity: 1;;
    min-height: 100%;
    max-height: 100%;
    display: block;
  }
  .our-customer-bg {
    background-color: #fcfbfa;
  }

  .loading {
    left: 0%;
    top: 20%;
  }


  //.banner-detail-page {
  //  background-repeat: no-repeat;
  //  background-size: contain;
  //  background-position: top center;
  //  height: 215px;
  //}


}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {

  .each-customer-shit:nth-child(-n+5) {

    display: none;
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

}


/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {

  .trivia-section {
    background: #fdb514 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 50%);
    margin-right: 15px;
    max-width: 465px;
    padding: 60px 80px;
  }


}

/* ----------- iPad  ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .trivia-section {
    background: #fdb514 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 50%);
    margin-right: 15px;
    max-width: 100%;
    padding: 60px 80px;
    margin-bottom: 5px;
  }


  .loading {
    left: 25%;
    top: 30%;
  }


  //.banner-detail-page {
  //  background-repeat: no-repeat;
  //  background-origin: padding-box;
  //  background-image: url(../images/Banner@2x.png);
  //  background-color: transparent;
  //  background-clip: padding-box;
  //  opacity: 1;
  //  /* height: 765px; */
  //  background-position: top center;
  //  display: block;
  //  width: calc(100% - 0px);
  //
  //  background-repeat: no-repeat;
  //  background-position: top center;
  //  background-attachment: fixed;
  //  background-size: contain;
  //}

}

.pointer {
  cursor: pointer !important;
}